
html,
body {
  height: 100%;
  margin: 20px;
  padding: 10px;
}

/* For the option to use current location */
.custom-map-control-button {
  position:absolute;
  background-color: #bd85e3;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 100;
  overflow: hidden;
  height: 50px;
  cursor: pointer;
  right:0;
  width:30%;
}


/* Hover for Map and Satellite */
.custom-map-control-button:hover {
  background: rgb(75, 95, 193);
}

/* For autocomplete search */

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #d198ce;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  font-family:'Courier New', Courier, monospace;
  font-size: medium;
  float: left;
}
/* 
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
} */

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 100;
}

#pac-input {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-left: 20px;
  padding: 5px 11px;
  text-overflow: ellipsis;
  width: 700px;
  border-radius: 10px;
}

#pac-input:focus {
  font-size: 30px;
  border-radius: 10px;
}

#googleMap {
  top:50px;
  left: 30px;
  height: 100%;
  width: 100%;
  padding: 30px;
  margin: auto;
}
